<html>

<head>
    <title>atcoder-graph-generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AtCoder RatingGraph Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="text-white nav-link" href="https://github.com/ysugiyama12/atcoder-ratinggraph-generator"><i class="fab fa-github"></i></a>
        <a class="text-white nav-link" href="https://twitter.com/yuji9511_compro"><i class="fab fa-twitter"></i></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="ユーザIDを入力" aria-label="Search"
                    name="username" value="{{username}}">
                <button class="btn x-outline-success my-2 my-sm-0 text-light" type="submit">このユーザで初期化する</button>
            </form>
        </div>
    </nav>

</body>

</html>
<style>
    body {
        text-align: center;
        margin: auto;
    }

    .row {
        width: 100%;
    }

    .graph-right {
        height: 440px;
        overflow-y: scroll;
        border: 1px solid grey;
        margin: 3px;
    }
</style>
<script>
</script>