<html>

<head>
    <title>AtCoder Submission Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AtCoder Submission Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="text-white nav-link" href="https://github.com/ysugiyama12/atcoder-submission-search"><i
                class="fab fa-github"></i></a>
        <a class="text-white nav-link" href="https://twitter.com/yuji9511_compro"><i class="fab fa-twitter"></i></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row side-row">
            <nav role="sidebar" class="col-md-3 d-none d-md-block bg-light sidebar pl-4 pr-4">
                <div class="mb-3">
                    <div>
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">キーワード</label>
                                <input type="text" class="form-control" name="keyword" placeholder="SegmentTree"
                                    value="{{params.keyword}}">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">ユーザID</label>
                                <input type="text" class="form-control" name="user_id" placeholder="tourist"
                                    value="{{params.user_id}}">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">言語</label>
                                <select class="form-control" name="language" id="language" value="{{params.language}}">
                                    <option id="lang-0">-</option>
                                    <!-- <option id="lang-1">C++14 (GCC 5.4.1)</option>
                                    <option id="lang-2">Java8 (OpenJDK 1.8.0)</option>
                                    <option id="lang-3">Python3 (3.4.3)</option> -->
                                    <option>C&#43;&#43;14 (GCC 5.4.1)</option>

                                    <option>Bash (GNU bash v4.3.11)</option>

                                    <option>C (GCC 5.4.1)</option>

                                    <option>C (Clang 3.8.0)</option>

                                    <option>C&#43;&#43;14 (Clang 3.8.0)</option>

                                    <option>C# (Mono 4.6.2.0)</option>

                                    <option>Clojure (1.8.0)</option>

                                    <option>Common Lisp (SBCL 1.1.14)</option>

                                    <option>D (DMD64 v2.070.1)</option>

                                    <option>D (LDC 0.17.0)</option>

                                    <option>D (GDC 4.9.4)</option>

                                    <option>Fortran (gfortran v4.8.4)</option>

                                    <option>Go (1.6)</option>

                                    <option>Haskell (GHC 7.10.3)</option>

                                    <option>Java7 (OpenJDK 1.7.0)</option>

                                    <option>Java8 (OpenJDK 1.8.0)</option>

                                    <option>JavaScript (node.js v5.12)</option>

                                    <option>OCaml (4.02.3)</option>

                                    <option>Pascal (FPC 2.6.2)</option>

                                    <option>Perl (v5.18.2)</option>

                                    <option>PHP (5.6.30)</option>

                                    <option>Python2 (2.7.6)</option>

                                    <option>Python3 (3.4.3)</option>

                                    <option>Ruby (2.3.3)</option>

                                    <option>Scala (2.11.7)</option>

                                    <option>Scheme (Gauche 0.9.3.3)</option>

                                    <option>Text (cat)</option>

                                    <option>Visual Basic (Mono 4.0.1)</option>

                                    <option>C&#43;&#43; (GCC 5.4.1)</option>

                                    <option>C&#43;&#43; (Clang 3.8.0)</option>

                                    <option>Objective-C (GCC 5.3.0)</option>

                                    <option>Objective-C (Clang3.8.0)</option>

                                    <option>Swift (swift-2.2-RELEASE)</option>

                                    <option>Rust (1.15.1)</option>

                                    <option>Sed (GNU sed 4.2.2)</option>

                                    <option>Awk (mawk 1.3.3)</option>

                                    <option>Brainfuck (bf 20041219)</option>

                                    <option>Standard ML (MLton 20100608)</option>

                                    <option>PyPy2 (5.6.0)</option>

                                    <option>PyPy3 (2.4.0)</option>

                                    <option>Crystal (0.20.5)</option>

                                    <option>F# (Mono 4.0)</option>

                                    <option>Unlambda (0.1.3)</option>

                                    <option>Lua (5.3.2)</option>

                                    <option>LuaJIT (2.0.4)</option>

                                    <option>MoonScript (0.5.0)</option>

                                    <option>Ceylon (1.2.1)</option>

                                    <option>Julia (0.5.0)</option>

                                    <option>Octave (4.0.2)</option>

                                    <option>Nim (0.13.0)</option>

                                    <option>TypeScript (2.1.6)</option>

                                    <option>Perl6 (rakudo-star 2016.01)</option>

                                    <option>Kotlin (1.0.0)</option>

                                    <option>PHP7 (7.0.15)</option>

                                    <option>COBOL - Fixed (OpenCOBOL 1.1.0)</option>

                                    <option>COBOL - Free (OpenCOBOL 1.1.0)</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">結果</label>
                                <select class="form-control" name="result" id="result" value="{{params.result}}">
                                    <option id="res-0">-</option>
                                    <option id="res-1">AC</option>
                                    <option id="res-2">WA</option>
                                    <option id="res-3">TLE</option>
                                    <option id="res-4">RE</option>
                                    <option id="res-5">MLE</option>
                                    <option id="res-6">CE</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">検索</button>
                        </form>
                    </div>
            </nav>
            <div class="col-md-9 results">
                <h5>検索結果</h5>
                <table class="table">
                    <tr>
                        <th>コンテスト</th>
                        <th>問題</th>
                        <th>ユーザ</th>
                        <th>言語</th>
                        <th>結果</th>
                        <th></th>
                    </tr>
                    {% for d in data %}
                    <tr>
                        <th>{{d.contest_name}}</th>
                        <th><a href="{{d.contest_url}}" target="_blank">{{d.problem_name}}</a></th>
                        <th><a href="https://atcoder.jp/users/{{d.user_id}}" target="_blank">{{d.user_id}}</a></th>
                        <th>{{d.language}}</th>
                        <th>
                            {% if d.result == "AC" %}
                            <span class="ac">{{d.result}}</span>
                            {% else %}
                            <span class="re">{{d.result}}</span>
                            {% endif %}

                        </th>
                        <th><a href="{{d.url}}" target="_blank">詳細</a></th>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
    <span class="d-none" id="lang">{{params.language}}</span>
    <span class="d-none" id="res">{{params.result}}</span>
</body>

</html>
<style>
    body {
        text-align: center;
        margin: auto;
    }

    .graph-right {
        height: 440px;
        overflow-y: scroll;
        border: 1px solid grey;
        margin: 3px;
    }

    /* .search-form {
        width: 50%;
        margin: auto;
    } */



    .sidebar {
        padding-top: 80px;
        position: fixed;
        height: 100%;
    }

    .container-fluid {
        height: 100%;
    }


    .navbar {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }

    .results {
        margin-left: 25%;
        padding-top: 80px;
    }

    .card {
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }

    .ac {
        background-color: #5cb85c;
        color: white;
        padding: 5px;
        border-radius: 10%;
    }

    .re {
        background-color: #f0ad4e;
        color: white;
        padding: 5px;
        border-radius: 10%;
    }

    a {
        color: darkblue;
    }
</style>
<script>
    $(document).ready(function () {
                document.getElementsByXPath = function (expression, parentElement) {
            var r = []
            var x = document.evaluate(expression, parentElement || document, null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null)
            for (var i = 0, l = x.snapshotLength; i < l; i++) {
                r.push(x.snapshotItem(i))
            }
            return r
        }
        var lang = $("#lang").text();
        $('#language').find('option').each(function (index, element) {
            if (lang == element.textContent) {
                var xpath = '//*[@id="language"]/option[' + String(index + 1) + ']';
                $(document.getElementsByXPath(xpath)).attr("selected", "selected");
            }
        });
        var result = $("#res").text();
        $('#result').find('option').each(function (index, element) {
            if (lang == element.textContent) {
                $("#res-" + String(index)).attr("selected", "selected");
            }
        });

    });
</script>